# Default ignored files
/../../../../../WEBSTO~1/1472D~1.TUT/1036C~1.REA/react-router-nested-routes/.idea/shelf/
/../../../../../WEBSTO~1/1472D~1.TUT/1036C~1.REA/react-router-nested-routes/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../WEBSTO~1/1472D~1.TUT/1036C~1.REA/react-router-nested-routes/.idea/httpRequests/
